<section class="technologies">
  <h2 class="technologies__heading">Technologies</h2>
  <ul class="technologies__list">
    {% for technology in technologies %}
      <li class="technologies__item">
        <div class="technologies__logo">
          <img src="{{ technology.image }}" alt="{{ technology.title }}"></div>
          <h3 class="technologies__title">{{ technology.title }}</h3>
        </li>
      {% endfor %}
    </ul>
  </section>
</li></li>