---
title: "OpenNTCIP - About"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">OpenNTCIP</h2>
  <p>OpenNTCIP creates software for everything from embedded systems to mobile apps.</p>
</section>